<h1>{{@model.username}}</h1>

<UpdateUserForm @user={{@model}} />

<button type="button" {{on "click" (fn this.deleteUser @model)}}>Delete
  {{@model.username}}</button>

{{#if @model}}
  <Card @model={{@model}} />

{{else}}
  <p>No users found!</p>
{{/if}}